:root {
  /** 文本颜色 */
  --text-wild-blue-yonder: rgb(93, 135, 191);
  --text-carolina-blue: rgb(201, 117, 189);
  --text-botton-white: #fffff1fa;

  /** 背景颜色 */
  --bg-oxford-blue-2: rgb(6, 6, 15);
  --bg-background-color: rgb(23, 33, 46);
  --bg-card-color: rgb(74, 94, 119) ;

  /** 按钮底色 */
  --bg-botton-white: #fffffffa;

  /** 字体类型 */
  --fontFamily-noto_sans: 'Noto Sans', sans-serif;

  /** 字体宽度 */
  --text-weight-1: 800;
  --text-weight-2: 500;
  --text-weight-3: 300;

  /** 字体间距 */
  --letter-spacing-1: 3px;

  /** 字体大小 */
  --fontSize-1: 2rem;
  --fontSize-3: 3rem;
  --fontSize-4: 2.5rem;
  --fontSize-8: 1.3rem;

  /** 动画过度  */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /***************************
   * 题目的卡片颜色部分代码
   * 之后慢慢看哪些有问题再改  
   ***************************/
  --background-color: rgb(20, 20, 20);
  --background-line-color: rgb(41, 119, 255);
  --text-color: rgb(118, 155, 204);
  --text-have-url-color: rgb(252, 114, 114);
  --red-outline: rgb(139, 24, 24);
  --text-title-color: rgb(118, 155, 204);
  --text-table-color: rgb(164, 213, 235);
  --table-header-color: rgb(52,67,87);
  --table-background-color: rgb(83, 107, 138);
  --box-gear-color: rgb(107, 172, 210);
  --tools-card-image-color: rgb(255,255,255);
  --button: rgba(165, 210, 236, 0.2);
  --button-text: rgb(0, 0, 0);
  --button-hover: rgba(232, 139, 234, 0.2);
  --button-hover-text: rgb(0, 0, 0);

  --tools-card-color: linear-gradient(130deg,rgb(18, 21, 26),rgb(31, 59, 107),rgb(18, 21, 26));

  --member-table-padding: 14px;
  --organizing-table-padding: 12px;
  --match-table-padding: 40px;
  --box-text-pposition-x: 12px;
  --table-height: 700px;

}

/*-----------------------------------*\
  #alert 弹窗
\*-----------------------------------*/

.notification {
  text-align: center;
  margin:auto;
  top:100;
  left:0;
  right:0;
  position: fixed;
  width: 250px;
  height: 50px;
  padding: 10px;
  background-color: var(--text-have-url-color);
  color: var(--text-botton-white);
  border: 1px solid var(--red-outline);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.notification:hover {
  opacity: 0.8;
}

/*-----------------------------------*\
  #RESET 重置
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button { cursor: pointer; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-background-color);
  color: var(--text-shadow-blue);
  font-family: var(--fontFamily-noto_sans);
  font-size: 1.6rem;
  line-height: var(--lineHeight-4);
  overflow-y: overlay;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carolina-blue);
  border-radius: var(--radius-pill);
}

/*-----------------------------------*\
  #REUSED STYLE 重复使用的部分
\*-----------------------------------*/

.container { padding-inline: 16px; }

.hover-1,
.hover-2 { transition: var(--transition-1); }

.hover-1:is(:hover, :focus-visible) { 
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) { color: var(--text-carolina-blue); }

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card .profile-banner { border-radius: var(--radius-circle); }

.headline {
  color: var(--text-columbia-blue);
  line-height: var(--lineHeight-1);
}

.headline-1 {
  font-size: var(--fontSize-1);
  color: var(--text-alice-blue);
  font-weight: var(--weight-extraBold);
}

.headline-2 { font-size: var(--fontSize-2); }

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title { margin-block-end: 10px; }

.headline .span {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.section-text {
  font-size: var(--fontSize-3);
  color: var(--text-wild-blue-yonder);
  text-align: center;
  font-weight: var(--text-weight-2);
  letter-spacing: var(--letter-spacing-1);
}

.text {
  font-size: var(--fontSize-4);
  color: var(--text-wild-blue-yonder);
  text-align: center;
  font-weight: var(--text-weight-3);
}

.mess-text {
  font-size: var(--fontSize-1);
  color:var(--text-botton-white);
}

.con-text {
  font-size: var(--fontSize-1);
  font-weight: var(--text-weight-3);
  color:var(--text-botton-white);
}


/*-----------------------------------*\
  # HEADER 头部
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  background-color: var(--bg-oxford-blue-2);
  z-index: 4;
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-open-btn,
.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  padding: 30px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list { border-block-end: 1px solid var(--border-white-alpha-15); }

.navbar-link {
  color: var(--text-carolina-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
}

.navbar-link.hover-1{ font-weight: var(--text-weight-1); }

.navbar-bottom {
  color: var(--text-carolina-blue);
  font-size: var(--fontSize-8);
  position: fixed;
  bottom: 120px;
  right: 10px;
}

.navbar-the-line {
  color: var(--text-alice-blue);
  /* white-space: nowrap; */

}

.navbar .profile-card { margin-block-end: 15px; }

.navbar .profile-card .card-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle { font-size: var(--fontSize-7); }

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2;
}

.navbar-bottom-link {
  color: var(--text-carolina-blue);
  font-size: var(--fontSize-6);
  padding-block: 6px;
}

.copyright-text {
  color: var(--text-carolina-blue);
  font-size: var(--fontSize-8);
  position: fixed;
  bottom: 20px;
  left: 70px;
}

/*-----------------------------------*\
  屏幕大小修改: 最大屏幕限制1400px, 最小到700px
\*-----------------------------------*/

@media (min-width: 730px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1400px; }

  body.nav-active { overflow-y: overlay; }



  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar-top,
  .navbar-bottom,
  .copyright-text { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-list {
    border-block-end: none;
    display: flex;
    gap: 40px;
    margin-inline: auto;
  }

  .header .btn { margin-inline-start: 0; }

  .navbar-link {
    color: var(--text-wild-blue-yonder);
    font-weight: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateX(0);
  }

}

